@page "/editions/edit/{Id:int}"
@using BusinessLayer;
@using ServiceLayer;
@inject EditionManager editionManager;
@inject PublisherManager publisherManager;
@inject NavigationManager navigationManager;

<h3>Edit</h3>


<h4>Edition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Model" OnValidSubmit="OnUpdated">
            <DataAnnotationsValidator />
            <input type="hidden" @bind-value="Model.Id" />
            <div class="form-group">
                <label class="control-label">Cover Type</label>
                <input @bind-value="Model.CoverType" class="form-control" />
                <ValidationMessage For="@( () => Model.CoverType )" />
            </div>
            <div class="form-group">
                <label class="control-label">Number of Pages</label>
                <input @bind-value="Model.NumberOfPages" class="form-control" />
                <ValidationMessage For="@( () => Model.NumberOfPages )" />
            </div>
            <div class="form-group">
                <label class="control-label">Publication Date</label>
                <input type="date" @bind-value="Model.PublicationDate" class="form-control" />
                <ValidationMessage For="@( () => Model.PublicationDate )" />
            </div>
            <div class="form-group">
                <label class="control-label">Publisher</label>
                <InputSelect @bind-Value="Model.PublisherId" class="form-control">
                    @foreach (var item in Publishers)
                    {
                        if (item.Id == Model.PublisherId)
                        {
                            <option selected value="@item.Id"> @item.Name </option>
                        }
                        else
                        {
                            <option value="@item.Id"> @item.Name </option>
                        }
                    }
                </InputSelect>
            </div>  
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </EditForm>
    </div>
</div>

<div>
    <a href="editions">Back to List</a>
</div>

@code
{
    Edition Model = new();
    ICollection<Publisher> Publishers = new List<Publisher>();    

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Publishers = await publisherManager.ReadAllAsync();

        Model = await editionManager.ReadAsync(Id, true, false);
    }

    private async Task OnUpdated()
    {
        await editionManager.UpdateAsync(Model, true);
        navigationManager.NavigateTo("editions");
    }

}
