@page "/books/create"
@using BusinessLayer;
@using ServiceLayer;
@using MudBlazor
@inject BookManager bookManager;
@inject EditionManager editionManager;
@inject AuthorManager authorManager;
@inject GenreManager genreManager;
@inject NavigationManager navigationManager;
@attribute [Authorize(Roles = "Administrator")]

<h3>Create</h3>


<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Model" OnValidSubmit="OnCreated">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label class="control-label">Key</label>
                <input @bind-value="Model.Key" class="form-control" />
                <ValidationMessage For="@( () => Model.Key )" />
            </div>
            <div class="form-group">
                <label class="control-label">Title</label>
                <input @bind-value="Model.Title" class="form-control" />
                <ValidationMessage For="@( () => Model.Title )" />
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <input @bind-value="Model.Description" class="form-control" />
                <ValidationMessage For="@( () => Model.Description )" />
            </div>

            <div class="form-group">
                <div class="col-md-5 col-sm-12">
                    <MudSelect T="Genre" Label="Select Genres" Variant="Variant.Outlined" Multiple="true" @bind-Value="SelectedGenre">
                        @foreach (var genre in Genres)
                        {
                            <MudSelectItem Value="@genre">@genre.Name</MudSelectItem>
                        }
                    </MudSelect>
                </div>
                <div class="col-md-5 col-sm-12">
                    <MudButton class="btn btn-primary" OnClick="@(() => AddGenre())">Add</MudButton>
                </div>
                @foreach (var item in SelectedGenres)
                {
                    <a>@item.Name</a>
                    <a @onclick="@(() => SelectedGenres.Remove(item))"> ✖</a>
                    <a>| </a>
                }
            </div>

            <div class="form-group">
                <div class="col-md-5 col-sm-12">
                    <MudSelect T="Author" Label="Select Authors" Variant="Variant.Outlined" Multiple="true" @bind-Value="SelectedAuthor">
                        @foreach (var author in Authors)
                        {
                            <MudSelectItem Value="@author">@author.FirstName @author.LastName</MudSelectItem>
                        }
                    </MudSelect>
                </div>
                <div class="col-md-5 col-sm-12">
                    <MudButton class="btn btn-primary" OnClick="@(() => AddAuthor())">Add</MudButton>
                </div>
                @foreach (var item in SelectedAuthors)
                {
                    <a>@item.FirstName @item.LastName</a>
                    <a @onclick="@(() => SelectedAuthors.Remove(item))"> ✖</a>
                    <a>| </a>
                }
            </div>

            <div class="form-group">
                <div class="col-md-5 col-sm-12">
                    <MudSelect T="Edition" Label="Select Editions" Variant="Variant.Outlined" Multiple="true" @bind-Value="SelectedEdition">
                        @foreach (var edition in Editions)
                        {
                            <MudSelectItem Value="@edition">@edition.Id</MudSelectItem>
                        }
                    </MudSelect>
                </div>
                <div class="col-md-5 col-sm-12">
                    <MudButton class="btn btn-primary" OnClick="@(() => AddEdition())">Add</MudButton>
                </div>
                @foreach (var item in SelectedEditions)
                {
                    <a>@item.Id</a>
                    <a @onclick="@(() => SelectedEditions.Remove(item))"> ✖</a>
                    <a>| </a>
                }
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </EditForm>
    </div>
</div>

<div>
    <a href="books">Back to List</a>
</div>

@code
{
    Book Model = new();
    ICollection<Edition> Editions = new List<Edition>();
    ICollection<Author> Authors = new List<Author>();
    ICollection<Genre> Genres = new List<Genre>();
    Genre SelectedGenre = null;
    Author SelectedAuthor = null;
    Edition SelectedEdition = null;
    List<Author> SelectedAuthors = new();
    List<Genre> SelectedGenres = new();
    List<Edition> SelectedEditions = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadNavigation();      
    }

    private async Task LoadNavigation()
    {
        Editions = await editionManager.ReadAllAsync(true, false);
        Authors = await authorManager.ReadAllAsync(true, false);
        Genres = await genreManager.ReadAllAsync(true, false);
    }

    private async Task OnCreated()
    {

        Model.Genres ??= new List<Genre>();

        foreach (var selectedGenre in SelectedGenres)
        {
            if (!Model.Genres.Contains(selectedGenre))
            {
                Model.Genres.Add(selectedGenre);
            }
        }

        foreach (var selectedAuthor in SelectedAuthors)
        {
            if (!Model.Authors.Contains(selectedAuthor))
            {
                Model.Authors.Add(selectedAuthor);
            }
        }

        foreach (var selectedEdition in SelectedEditions)
        {
            if (!Model.Editions.Contains(selectedEdition))
            {
                Model.Editions.Add(selectedEdition);
            }
        }

        Model.CoverUrl ??= "";
        Model.Genres = SelectedGenres;
        Model.Authors = SelectedAuthors;
        Model.Editions = SelectedEditions;
        await bookManager.CreateAsync(Model);
        navigationManager.NavigateTo("books", true);
    }

    private void AddGenre()
    {
        if (SelectedGenre != null)
        {
            SelectedGenres.Add(SelectedGenre);
            SelectedGenre = null;
        }
    }

    private void AddAuthor()
    {
        if (SelectedAuthor != null)
        {
            SelectedAuthors.Add(SelectedAuthor);
            SelectedAuthor = null;
        }
    }

    private void AddEdition()
    {
        if (SelectedEdition != null)
        {
            SelectedEditions.Add(SelectedEdition);
            SelectedEdition = null;
        }
    }
}
